@import "tailwindcss";

:root {

    /* Dimensions */
    --width-full: 100%;
    --width-12col: 1200px;     
    --width-box: 1300px;
    --width-box-medium: 1000px;
    --width-12col-medium: 923.1px;
    --width-box-small: 768px;
    --width-12col-small: 709px;
    --width-box-mobile: 360px;
    --width-12col-mobile: 334px;

    /* Grid Settings */
    --grid-gap: 10px;
    --padding-default: 20px;

    /* Colors */
    --color-background: #463C3C;
    --color-text: #FFFFFF;
    --color-primary: #A880B9;
  
  }


/* Reset CSS */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    
    
  }
  html {
    margin-top:0px !important;
    overflow-x: hidden;
  }
  /* Global CSS */
  
  body {
    background-color: #FDF6FA;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
  }
  
  .container {
    background: #201011;
    height: auto;
    width:var(--width-full);
    overflow-x: hidden;

  }

  .navbar {
  width: 100%;
}

.navbarContent {
  max-width: 1200px;
  margin: 0 auto 0 auto;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
    overflow: hidden;
      background-color: var(--color-primary);
}

.search-bar-container {
  position: relative;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #f9f9f9;
  padding: 1rem;
  opacity: 0;
  transform: translateY(0px);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 8;
}

.search-bar-container.show {
  opacity: 1;
  transform: translateY(58.39px);
  pointer-events: auto;
}

#ajax-search-input {
  width: 90%;
  display: block;
  margin: 0 auto;
  font-size: 1.2rem;
  border: none;
}

#ajax-search-results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 20;
  background: white;
  border: 1px solid #ccc;
  max-height: 300px;
  overflow-y: auto;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border-radius: 6px;
  padding: 10px;
  display: none; /* Hidden by default */
}

.ajax-search-results {
  list-style: none;
  padding: 0;
  margin: 0;
   transition: 0.2s ease-in-out;
}

.ajax-search-item {
  display: flex;
  gap: 12px;
  padding: 15px 10px;
  border-radius: 5px;
  border-bottom: 1px solid #463C3C;
}

.ajax-search-item:hover {
background-color: #F3E8F1;
}

.ajax-search-thumb img {
  min-width: 100px;
  min-height: 60px;
  object-fit: cover;
  border-radius: 6px;
}

.ajax-search-title {
  font-size: 1.5rem;
  color: #444;
}

.ajax-search-category {
  font-size: 1rem;
  color: #888;
}

.menu-item.medlemskabbtn {
  display: none;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
  color: var(--color-text);
}

.navLinks li{
  padding: 0 1rem;
  cursor: pointer;
  text-transform: uppercase;
}

.navLinks a {
  text-decoration: none;
  font-weight: 500;
  color: var(--color-text);
}

.menuWidth{
  display: flex;
  align-items: center;
  margin: 0 auto 0 auto;
  max-width: var(--width-full);
  background-color: rgb(0, 0, 0, 0.5);
}

.menuWidth12{
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}

.menuOpen {
  height: 100%;
  background-color: var(--color-primary);
  padding: 2rem 2rem;
  width: 350px;
} 

  
  h1 {
    font-size: 3rem;
    color: var(--color-text);
    font-weight: 700;
  }

  h2
  {
    font-size: 2.5rem;
    color: var(--color-text);
    font-weight: 700;
  }

  h3 {
    font-size: 2rem;
    color: var(--color-text-secondary);
    font-weight: 700;
    color: #444;
  }

  h4 {
    font-size: 2rem;
    color: var(--color-text-secondary);
    font-weight: 700;
  }

  h5 {
    font-size: 1.4rem;
    color: var(--color-text-secondary);
    font-weight: 600;
  }

  h6 {
    font-weight: bold;
    color: #A880B9;
    font-size: larger;
  }

  .h7 {
    font-size: 1.2rem;
    color: var(--color-text);
    font-weight: 400;
  }

  .p1 {
    font-size: 1rem;
    color: var(--color-primary);
    font-weight: 700;
  }

  .p2 {
    font-size: 1rem;
    color: var(--color-text-secondary);
    font-weight: 400;
  }

  .p3 {
    font-size: 1.2rem;
    color: var(--color-text);
    font-weight: 600;
  }


  .SiteBody{
    width: var(--width-full);
    justify-content: center;
  }

  .SiteImage {
  position: relative;
  height: 500px;
  width: 100%;
   overflow: hidden;
  }
  

  .SiteImage img{
    width: 100%;
  height: 500px;
    z-index: -1;
    justify-content: center;
    display: flex;
    position: absolute;
    object-fit: cover;
  }

  .SiteImgGrad{
  z-index: 1;
  width: 100%;
  height: 500px;
  background: #FDF6FA;
  background: linear-gradient(180deg,rgba(253, 246, 250, 0) 50%, rgba(253, 246, 250, 1) 100%);

  }

  .SiteHeader {
    position: relative;
    z-index: 10;        
    background-color: var(--color-text); 
    padding: 3rem;
    width: var(--width-12col);
    height: 300px;
    align-items: center;
    margin: auto;
    top: -100px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  .roundBar{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  .roundBarWO{
    border-radius: 10px;
  }


/* footer */
.main-footer {
  background-color: var(--color-background);
  color: #fff;
  padding: 20px 10% 20px 10%;
  font-family: sans-serif;
  margin-top: 50px;
}

.footer-container {
  gap: 2rem;
    display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.footer-col {
  flex: 1 1 200px;
  min-width: 200px;
  grid-column: span 3;
}

.footer-col:nth-child(2){
  order: 4;
}

.footer-col h4 {
  font-size: 1rem;
  margin-bottom: 1rem;
  position: relative;
  padding-bottom: 0.5rem;
  color: #eee;
}

.footer-col h4::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #b08fc4;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}
.footer-col ul li {
  margin-bottom: 0.5rem;
}
.footer-col ul li a {
  color: #ddd;
  text-decoration: none;
  font-size: 0.9rem;
}
.footer-col ul li a:hover {
  text-decoration: underline;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contact-item .dot {
  width: 12px;
  height: 12px;
  background-color: #ddd;
  border-radius: 50%;
  margin-top: 0.3rem;
}

.contact-item p,
.contact-item small {
  font-size: 0.85rem;
  color: #ddd;
}


.icon-circle {
  width: 32px;
  height: 32px;
  background-color: #b08fc4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ddd;
  font-size: 1.1rem;
  margin-top: 0.1rem;
  flex-shrink: 0;
}

.newsletterSignup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.newsletterInputWrapperFooter {
  position: relative;
  width: auto;
  height: 60px;
  color: black;
  background-color: white;
  border-radius: 10px;
  font-weight: 400;
}

.newsletterInputWrapperFooter i {
  position: absolute;
  left: 17px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #80808E;
  pointer-events: none;
}

.newsletterInputFooter {
  width: 100%;
  height: 100%;
  padding-left: 40px; /* space for the icon */
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-sizing: border-box;
}

.newsletterButtonFooter {
  width: 60%;
  height: 50px;
  background: #A880B9;
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto 0 auto;
}


.newsletterButtonFooter:hover {
  background: #8c6ca3;
}


#newsletterMessageFooter {
   font-size: 1.2rem;
  font-weight: 500;
  margin-top: 15px;
  text-align: center;
}

  /* css for index.html starter her under */
















  
/* NavBar */
.navbar {
  background-color: #A880B9;
  padding: 1rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

  .nav-Logo {
    transform: scale(0.9);
    height: 40.8px;
  }

.nav-content {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  width: 100%;
}

.nav-buttons {
  display: flex;
  gap: 3rem;
}

.nav-btn {
  background: none;
  border: none;
  color: white;
  font-size: 1.1rem;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-btn:hover {
  color: #ddd;
}


.dropdown-nav {
  position: fixed;
  top: 61px;
  right: -350px; 
  width: 350px;
  height: calc(100% - 65px);
  background-color: #FDF6FA;
  z-index: 19;
  overflow-y: auto;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
  border-left: 1px solid #ddd;
  transition: right 0.3s ease;
}

.dropdown-nav.open {
  right: 0; 
}

.overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 15;
}

.overlay.show {
  display: block;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0 0 0;
}

.menu-item {
    border-bottom: 1px solid #ccc;
}

.submenu > :nth-child(even) {
  background-color: #F3E8F1;
  padding: 0.5rem 0 0.5rem 1.3rem;


}

.submenu >:nth-child(odd) {
  background-color: #F3E8F1; /* White */
  padding: 0.5rem 0 0.5rem 1.3rem;

}

.menu-btn {
  width: 100%;
  background: none;
  border: none;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}

.menu-item.open .arrow {
  transform: rotate(90deg);
}

.arrow {
  color: #373737;
  transition: transform 0.3s ease;
}

.submenu {
  display: none;
  background: #F3E8F1;
}

.submenu li a {
  display: block;
  padding: 0.5rem 0;
  text-decoration: none;
  color: #333;
  
}

.submenu li a:hover {
  text-decoration: underline;
}

/* Overlay - still dims rest of the page */
.overlay {
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 15;
}


.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.dropdown-nav.show {
  display: block;
}

.overlay.show {
  display: block;
}

@media (width < 1300px) {

  .nav-btn {
  font-size: 0.935rem;
  gap: 1rem;
}

  .nav-Logo {
    transform: scale(0.9);
    height: 34.68px;
  }

  .SiteImage {
  height: 425px !important;
  }

  .SiteImage img{
  height: 425px;
  }

  .SiteImgGrad{
  height: 425px;
}

.footer-col {
  flex: 1 1 200px;
  min-width: 200px;
  grid-column: span 6;
}

.footer-col:nth-child(2){
  order: 0;
}

.footer-col h4 {
  font-size: 0.85rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

.footer-col h4::after {
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
}


.footer-col ul li {
  margin-bottom: 0.5rem;
}
.footer-col ul li a {
  font-size: 0.765rem;
}

.icon-circle {
  width: 27.2px;
  height: 27.2px;
  font-size: 1.1rem;
  margin-top: 0.1rem;
}

}

@media (width < 1000px) {

.nav-content {
  padding: 0 1rem 0 0.1rem;

}

.nav-buttons {
  display: flex;
  gap: 2rem;
}

 .nav-btn {
  gap: 0.3rem;
  font-size: 0.795rem;
}

  .nav-Logo {
    max-height: 29.478px;
    height: 100%;
    transform: scale(0.9);
  }

  .SiteImage {
  height: 361px !important;
  }


.ajax-search-title {
  font-size: 1.2rem;
  color: #444;
}

.ajax-search-category {
  font-size: 0.85rem;
  color: #888;
}



}

@media (width < 768px) {

.main-footer {
  padding: 20px 10% 20px 10%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.footer-col{
  grid-column: 2/11;
}

.footer-container {
  margin: 0;
  width: 100%;
}

.menu-item.medlemskabbtn {
  display: initial;
}

.nav-btn.medlemskab {
  display: none;
}
.SiteImage {
  height: 307px !important;
  }

.ajax-search-title {
  font-size: 1rem;
  color: #444;
}

.ajax-search-category {
  font-size: 0.75rem;
  color: #888;
}
}

