
  .gallerySiteContent {
    width: var(--width-12col);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    margin: auto;
  }

.galleryImageContainer {
  width: auto;
  margin: 2rem;
  border-radius: 10px;
}


.galleryImageContainer:hover {
        transform: scale(1.03);
        transition: transform 0.3s ease-in-out;
    }


  .galleryImage img{
    width: 100%;
    max-height: 400px;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;
      border-radius: 10px;
    
  }

    .galleryImage h4{
          font-size: 30.6px;
  line-height: 20.4px;   
  letter-spacing: 1px;
  color: #333;
  }

  @media (width < 1300px) {
    .gallerySiteContent {
    width: var(--width-box-medium);
  }

.galleryImageContainer {
  width: auto;
  margin: 2rem;
  border-radius: 10px;
}


.galleryImageContainer:hover {
        transform: scale(1.03);
        transition: transform 0.3s ease-in-out;
    }


  .galleryImage img{
    width: 100%;
    max-height: 340px;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;
      border-radius: 10px;
    
  }

    .galleryImage h4{
          font-size: 26px;
  line-height: 20.4px;   
  letter-spacing: 1px;
  }

  }

    @media (width < 1000px) {
    .gallerySiteContent {
    width: var(--width-box-small);
  }

.galleryImageContainer {
  width: auto;
  margin: 2rem;
  border-radius: 10px;
}


.galleryImageContainer:hover {
        transform: scale(1.03);
        transition: transform 0.3s ease-in-out;
    }


  .galleryImage img{
    width: 100%;
    max-height: 289px;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;
      border-radius: 10px;
    
  }

    .galleryImage h4{
      font-size: 22.1px;
  line-height: 20.4px;   
  letter-spacing: 1px;
  }

  }

      @media (width < 768px) {
    .gallerySiteContent {
    min-width: var(--width-12col-mobile);
    width: 80%;
  }

.galleryImageContainer {
  width: auto;
  margin: 2rem;
  border-radius: 10px;
}


.galleryImageContainer:hover {
        transform: scale(1.03);
        transition: transform 0.3s ease-in-out;
    }


  .galleryImage img{
    width: 100%;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;
      border-radius: 10px;
    
  }

    .galleryImage h4{
      font-size: 22.1px;
  line-height: 20.4px;   
  letter-spacing: 1px;
  }

  }

  