.videoSection {
    position: relative;
    align-items: center;
    width: var(--width-12col);
    margin: 0 auto 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
    padding-bottom: 60px;
  }

.galleryVideoContainer {
  grid-column: span 6;
}

.galleryVideo {
  margin-bottom: 3rem;
}

.galleryVideo iframe{
  height: 315px;
  width: 100%;
  margin-bottom: 1rem;

}

.galleryVideo h4{
  font-size: 30.6px;
  line-height: 35.4px;   
  letter-spacing: 1px;
  color: #333;
}

@media (width < 1300px) {
.videoSection {
    width: var(--width-box-medium);
    gap: 2rem;
    padding-bottom: 60px;
  }

  .galleryVideo h4{
          font-size: 26px;
  line-height: 35.4px;   
  letter-spacing: 1px;
}
}

@media (width < 1000px) {
.videoSection {
    width: var(--width-box-small);
    gap: 2rem;
    padding-bottom: 60px;
  }

  .galleryVideo h4{
      font-size: 22.1px;
  line-height: 28.4px;   
  letter-spacing: 1px;
}
}

@media (width < 768px) {
.videoSection {
    min-width: var(--width-12col-mobile);
    width: 80%;
    gap: 2rem;
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .galleryVideo h4{
      font-size: 22.1px;
  line-height: 28.4px;   
  letter-spacing: 1px;
}

.galleryVideo {
  width: 100%;
}
}